@primary: #444444;
@secondary: #f1f1f1;
@highlight: #BADA55;
@page: 70%;

body {
	width: 100%;
	height: 100%;
	color: @primary;
	font-size: 18px;
	font-family: sans-serif;
}

p {
	line-height: 1.5em;
}

h2 {
	font-size:1.7em;
}

h3 {
	font-size: 1.5em;
}

.page-mixin {
	padding-top: 90px;
	&>div {
		width: @page;
		margin: 0 auto;
	}
}

#navigation {
	width: 100%;
	height: 70px;
	background-color: @highlight;

	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	&>div {
		width: @page;
		height:50px;
		margin: 0 auto;
		margin-top: 10px;
	}
	img {
		height: 50px;
		margin-right: 30px;
	}
	a {
		text-decoration: none;
		color: @primary;
		margin-right: 20px;
	}
}

#title, #about, #observations, #design, #howto {
	width: 100%;
	height: 100%;
	min-height: 1000px;
	padding-bottom: 90px;
}

#title {
	.page-mixin;
	background-color: @secondary;
	img {
		width: 80%;
		margin: 0 auto;
		display:block;
	}
}

#about {
	.page-mixin;
	background-color: @primary;
	color:@secondary;
	.third_img {
		width:100%;
		margin: 0px;
		margin-top: 30px;		
	}
	.third_div {
		width:30%;
		margin: 0px;
		margin-bottom: 30px;
		float:left;
		margin-right:10px;
	}
	p {
		margin-top:0;
	}
}

#observations {
	.page-mixin;
	background-color: @secondary;
	.wide_img {
		width:100%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

#design {
	.page-mixin;
	background-color: @primary;
	color:@secondary;
	.wide_img {
		width:100%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.third_img {
		width:30%;
		margin: 0px;
		margin-top: 30px;
		margin-bottom: 30px;		
	}
}

#howto {
	.page-mixin;
	background-color: @secondary;
	img {
		width:100%;
		margin-top:10px;
	}
	li {
		margin-bottom:15px;
	}
}